# optional, default: development
# VITE_NODE_ENV=development

# required if VITE_NODE_ENV is production, values: staging, production
# VITE_NODE_ENV_MODE=staging

# VITE_PORT for development, PORT for production
VITE_PORT=8002
PORT=8002

# optional, default: http://localhost:8000
# VITE_API_BASE_ENDPOINT=http://localhost:8000

# optional, default: /graphql
# VITE_API_GRAPHQL_ENDPOINT=/graphql

# optional, default: /rest
# VITE_API_RESTAPI_ENDPOINT=/rest

# optional, default: ''
# VITE_USERBACK_CODE=

# optional, default: https://development.secretswingerlust.com
# User website URL for guardian visit feature
# VITE_USER_WEBSITE_URL=https://development.secretswingerlust.com
